@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fedex-purple: #4D148C;
  --fedex-orange: #FF6600;
}

body {
  @apply bg-gray-50;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}